@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-satoshi);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --gradient: #085078;
    --background: hsl(0, 0%, 98%);
    --foreground: 214 8.7% 1%;

    --muted: 214 8.7% 92.5%;
    --muted-foreground: 214 4.35% 42.5%;

    --popover: 214 20.400000000000006% 92.5%;
    --popover-foreground: 214 8.7% 1.25%;

    --card: 0 0 100%;
    --card-foreground: 214 8.7% 1.25%;

    --border: 214 13.7% 90%;
    --input: 214 13.7% 90%;

    --primary: 214 87% 25%;
    --primary-foreground: 214 1.74% 92.5%;

    --secondary: 214 4.35% 96.25%;
    --secondary-foreground: 214 6.22% 12.5%;

    --accent: 214 4.35% 96.25%;
    --accent-foreground: 214 6.22% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 214 87% 25%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0.5rem;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
